# Default values for componentstatuses-exporter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: polishchuk/componentstatuses-exporter
  tag: 0.1.5
  pullPolicy: IfNotPresent

annotations: {}
  # Uncomment to allow metrics scraping and remove the curly braces after 'annotations:'.
  # prometheus.io/scrape: 'true'
  # prometheus.io/port: '8080'

ServiceMonitor: {}
  # Uncomment to deploy ServiceMonitor for prometheus-operator and remove the curly braces after 'ServiceMonitor:'.
  # prometheus: kube-prometheus

env:
  - name: COMPONENTSTATUSES_CHECK_RATE
    value: '30'
  - name: LOG_LEVEL
    value: info

service:
  type: ClusterIP
  port: 8080

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
